{% extends "layout.twig" %} 


{% block facebook %} 

	{% if selecteditem %} 
	   <meta property="og:image" content="{{ settings.baseDomain }}/themes/{{ theme }}/dist/images/{{ answer.image }}-large.png"/>
	   <meta property="og:url" content="{{ shareurl }}"/>
	   <meta property="og:title" content="{{ quiz.question.title }}" />
	   <meta property="og:description" content="{{ answer.sharemessage }}" />
	{% else %}
	<meta property="og:title" content="{{ quiz.question.title }}" />
	   <meta property="og:image" content="{{ settings.baseDomain }}/themes/{{ theme }}/dist/images/share-large.png"/>
	   <meta property="og:url" content="{{ settings.baseDomain }}"/>
		<meta property="og:description" content="" />
	{% endif %}
	
{% endblock %}



{% block content %}

{# <div class="logout text-center">{% include "components/button-logout.twig" %}</div>#}


<!-- Block Question  -->
<div id="question mt50" class="text-center">
	<h1>{{ quiz.question.title }}</h1>
</div>



{% if selecteditem %} 

{% include "components/selected-item.twig" %}


{# {% include "components/next-action.twig" %} #}

{% else %}

<!-- Block Answers -->


<form id="quizform" method="post">
	<input type="hidden" name="selection" id="selection" value="" />
	<div class="row">{% for answer in quiz.answers %} {% include "components/item.twig" %} {% endfor %}</div>
</form>



{% endif %} 

{% endblock %}

{% if not selecteditem %} 

<!-- Facebook Conversion Code for Tony London -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6030185817910', {'value':'0.00','currency':'GBP'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030185817910&amp;cd[value]=0.00&amp;cd[currency]=GBP&amp;noscript=1" /></noscript> 	
	{% endif %} 

{% endblock %}
	





