{% extends "layout.twig" %} 


{% block facebook %} 
	<meta property="og:title" content="Which Star Wars Character Are You?!" />
	<meta property="og:description" content="" />

	{% if selecteditem %} 
	   <meta property="og:image" content="{{ settings.baseDomain }}/themes/{{ theme }}/dist/images/{{ answer.image }}"/>
{# 	   <meta property="og:url" content="{{ shareurl }}"/>#}
	   <meta property="og:url" content="{{ settings.baseDomain }}"/>
	{% else %}
	   <meta property="og:image" content="{{ settings.baseDomain }}/themes/{{ theme }}/dist/images/share.png"/>
	   <meta property="og:url" content="{{ settings.baseDomain }}"/>
	{% endif %}
	
{% endblock %}



{% block content %}

{# <div class="logout text-center">{% include "components/button-logout.twig" %}</div>#}


<!-- Block Question  -->

<div id="question" class="text-center">
	<h1>{{ quiz.question.title }}</h1>
</div>



{% if selecteditem %} 

{% include "components/selected-item.twig" %}


{# {% include "components/next-action.twig" %} #}

{% else %}

<!-- Block Answers -->


<form id="quizform" method="post">
	<input type="hidden" name="selection" id="selection" value="" />
	<div class="row">{% for answer in quiz.answers %} {% include "components/item.twig" %} {% endfor %}</div>
</form>



{% endif %} {% endblock %}
