<div class="col-xs-6 col-md-4 col-lg-4 item box">
	<a data-val="{{ answer.id }}" href="javascript:;" class="selection thumbnail ">
	<img class="" src="/themes/starwars/dist/images/{{ answer.image }}" alt="{{ answer.title }}">
		<div class="text-center">
			<h4>{{ answer.title }}</h4>
{# 			<p>{{ answer.message }}</p>#}
		</div>
	</a>
</div>