<div class="col-xs-6 col-md-4 hisrc col-lg-4 item box">
	<a data-val="{{ answer.id }}" href="javascript:;" class="selection thumbnail ">
	<img class="hvr-pop thumbnail"  src="/themes/starwars/dist/images/{{ answer.image }}-small.png" data-1x="/themes/starwars/dist/images/{{ answer.image }}-medium.png" data-2x="/themes/starwars/dist/images/{{ answer.image }}-large.png" alt="{{ answer.title }}">
		<div class="text-center">
			<h4>{{ answer.title }}</h4>
{# 			<p>{{ answer.message }}</p>#}
		</div>
	</a>
</div>