<div class="selecteditemcontainer">
		<div class="selecteditem thumbnail">
			<div class="text-center mt30">
				<h1>{{ answer.title }}</h1>
			</div>

			<div class="text-center mt30 thumbnail">
			    	<picture>
				  <!--[if IE 9]><video style="display: none;"><![endif]-->
				  <source srcset="/themes/starwars/dist/images/{{ answer.image }}-large.png" media="(min-width: 600px)">
				  <!--[if IE 9]></video><![endif]-->
				  <img class="" srcset="/themes/starwars/dist/images/{{ answer.image }}-medium.png" alt="{{ answer.title }}">
				</picture>
			</div>

			<div class="text-center mt30">
				<h5>{{ answer.message }}</h5>
			</div>

			<div class="text-center mt30">
				<a class="btn btn-info btn-lg share-btn" data-shareurl="{{ shareurl }}" href="javascript:;">Share with your friends</a>
			</div>
		</div>
</div>